/*****----- Colors -----*****/
* {
    selected:         #70A5EB;
    black:            #101419;
    gray:             #28344a;
}

/*****----- Fonts -----*****/
* {
    font:                       "Icons Font 40";
}

/*****----- Global Settings -----*****/
* {
    padding:                    0;
    margin:                     0;
    border:                     0;
    spacing:                    0;
    background-color:           transparent;
    border-color:               transparent;
}

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
    fixed-num-lines:            true;
    ml-row-up:                  "";
    ml-row-down:                "";
    ml-row-left:                "ScrollDown";
    ml-row-right:               "ScrollUp";
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    width:                       550px;
    background-color:            @black;
}

/*****----- Main Box -----*****/
mainbox {
    padding:                     20px 0px;
    children:                    [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    columns:                     5;
    lines:                       1;
    flow:                        horizontal;
    fixed-height:                true;
    fixed-columns:               true;
    cycle:                       true;
    text-color:                  @gray;
}

/*****----- Elements -----*****/
element {
    text-color:                  @gray;
    cursor:                      pointer;
}

element selected.normal {
    text-color:                  @selected;
}

element-text {
    cursor:                      inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
