configuration {
    show-icons:                     false;
    font:                           "WaybarIconsFont 30";
    location:                       0;
    anchor:                         center;
    fixed-num-lines:                true;
    ml-row-up:                      "";
    ml-row-down:                    "";
    ml-row-left:                    "ScrollDown";
    ml-row-right:                   "ScrollUp";
}

* {
    bg:                             #101419;
    border-clr:                     #44475a;
    icon-inactive:                  #28344a;
    icon-active:                    #70A5EB;
    background-color:               transparent;
    text-color:                     @icon-inactive;
}

window {
    background-color:               @bg;
    border:                         0px;
    border-radius:                  0px;
    width:                          450px;
}

inputbar {
    enabled:                        false;
}

mainbox {
    children:                       [ listview ];
    padding:                        22px;
}

listview {
    columns:                        5;
    lines:                          1;
    flow:                           horizontal;
    fixed-height:                   true;
    fixed-columns:                  true;
    spacing:                        0;
    scrollbar:                      false;
    cycle:                          true;
}

element {
    padding:                        8px;
}

element-text {
    text-color:                     inherit;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    cursor:                         pointer;
}

element normal.normal {
    text-color:                     @icon-inactive;
}

element selected.normal {
    text-color:                     @icon-active;
}
