/* --- Colors --- */
@define-color background #0A0D12;
@define-color foreground #DEE1E6;
@define-color disabled #28344a;
@define-color blue #70A5EB;

/* --- Global --- */
* {
  font-family: 'Icons Font', 'Hack Nerd Font';
  font-size: 14px;
}

window#waybar {
  background: @background;
}

/* --- Workspaces --- */
#workspaces button {
  color: @blue;
  background-color: @background;
  border: none;
  transition: background 0.25s ease, color 0.25s ease;
}

#workspaces button.active,
#workspaces button.empty.active {
  color: @background;
  background-color: @blue;
}

/* --- Modules --- */
#custom-manager,
#custom-separator-left,
#custom-internet,
#custom-vpn,
#custom-scope {
  margin: 0px 0px 0px 16px;
}

#custom-nightlight,
#backlight,
#custom-separator-right,
#wireplumber,
#custom-battery,
#clock {
  margin: 0px 16px 0px 0px;
}
